<style>
  #mobile-notice {
      border: 2px solid white;
      border-radius: 5px;
      text-align: center;
      vertical-align: middle;
      margin-right: 5%;
      margin-left: 5%;
      padding: 1%;
      font-size: 110%;
  }
</style>
<p id="mobile-notice">
This page has been <a href="https://www.ecocitycraft.com/forum/wiki/wikiteam-needs-improvement/">marked for improvement</a> by the Wiki Team. 
<br><b>This applies to pages that are not seen as having the quality that is expected on the EcoCityCraft Wiki.</b>
</p>