<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l">ID#</th>
    <th class="tg-yw4l">ITEM_ID</th>
    <th class="tg-yw4l">Item Name</th>
    <th class="tg-yw4l">Unobtainable?</th>
  </tr>
  <tr>
    <td class="tg-yw4l">1</td>
    <td class="tg-yw4l">STONE</td>
    <td class="tg-yw4l">Stone</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">2</td>
    <td class="tg-yw4l">GRASS</td>
    <td class="tg-yw4l">Grass</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">3</td>
    <td class="tg-yw4l">DIRT</td>
    <td class="tg-yw4l">Dirt</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">4</td>
    <td class="tg-yw4l">COBBLESTONE</td>
    <td class="tg-yw4l">Cobblestone</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">5</td>
    <td class="tg-yw4l">WOOD</td>
    <td class="tg-yw4l">Oak Wood Plank</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">6</td>
    <td class="tg-yw4l">SAPLING</td>
    <td class="tg-yw4l">Oak Sapling</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">7</td>
    <td class="tg-yw4l">BEDROCK</td>
    <td class="tg-yw4l">Bedrock</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">12</td>
    <td class="tg-yw4l">SAND</td>
    <td class="tg-yw4l">Sand</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">13</td>
    <td class="tg-yw4l">GRAVEL</td>
    <td class="tg-yw4l">Gravel</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">14</td>
    <td class="tg-yw4l">GOLD_ORE</td>
    <td class="tg-yw4l">Gold Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">15</td>
    <td class="tg-yw4l">IRON_ORE</td>
    <td class="tg-yw4l">Iron Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">16</td>
    <td class="tg-yw4l">COAL_ORE</td>
    <td class="tg-yw4l">Coal Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">17</td>
    <td class="tg-yw4l">LOG</td>
    <td class="tg-yw4l">Oak Wood</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">18</td>
    <td class="tg-yw4l">LEAVES</td>
    <td class="tg-yw4l">Oak Leaves</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">19</td>
    <td class="tg-yw4l">SPONGE</td>
    <td class="tg-yw4l">Sponge</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">20</td>
    <td class="tg-yw4l">GLASS</td>
    <td class="tg-yw4l">Glass</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">21</td>
    <td class="tg-yw4l">LAPIS_ORE</td>
    <td class="tg-yw4l">Lapis Lazuli Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">22</td>
    <td class="tg-yw4l">LAPIS_BLOCK</td>
    <td class="tg-yw4l">Lapis Lazuli Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">23</td>
    <td class="tg-yw4l">DISPENSER</td>
    <td class="tg-yw4l">Dispenser</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">24</td>
    <td class="tg-yw4l">SANDSTONE</td>
    <td class="tg-yw4l">Sandstone</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">25</td>
    <td class="tg-yw4l">NOTE_BLOCK</td>
    <td class="tg-yw4l">Note Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">27</td>
    <td class="tg-yw4l">POWERED_RAIL</td>
    <td class="tg-yw4l">Powered Rail</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">28</td>
    <td class="tg-yw4l">DETECTOR_RAIL</td>
    <td class="tg-yw4l">Detector Rail</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">29</td>
    <td class="tg-yw4l">PISTON_STICKY_BASE</td>
    <td class="tg-yw4l">Sticky Piston</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">30</td>
    <td class="tg-yw4l">WEB</td>
    <td class="tg-yw4l">Cobweb</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">31</td>
    <td class="tg-yw4l">LONG_GRASS</td>
    <td class="tg-yw4l">Grass</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">32</td>
    <td class="tg-yw4l">DEAD_BUSH</td>
    <td class="tg-yw4l">Dead Bush</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">33</td>
    <td class="tg-yw4l">PISTON_BASE</td>
    <td class="tg-yw4l">Piston</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">35</td>
    <td class="tg-yw4l">WOOL</td>
    <td class="tg-yw4l">Wool</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">37</td>
    <td class="tg-yw4l">YELLOW_FLOWER</td>
    <td class="tg-yw4l">Dandelion</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">38</td>
    <td class="tg-yw4l">RED_FLOWER</td>
    <td class="tg-yw4l">Poppy</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">39</td>
    <td class="tg-yw4l">BROWN_MUSHROOM</td>
    <td class="tg-yw4l">Brown Mushroom</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">40</td>
    <td class="tg-yw4l">RED_MUSHROOM</td>
    <td class="tg-yw4l">Red Mushroom</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">41</td>
    <td class="tg-yw4l">GOLD_BLOCK</td>
    <td class="tg-yw4l">Gold Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">42</td>
    <td class="tg-yw4l">IRON_BLOCK</td>
    <td class="tg-yw4l">Iron Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">44</td>
    <td class="tg-yw4l">STEP</td>
    <td class="tg-yw4l">Stone Slab</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">45</td>
    <td class="tg-yw4l">BRICK</td>
    <td class="tg-yw4l">Bricks</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">46</td>
    <td class="tg-yw4l">TNT</td>
    <td class="tg-yw4l">TNT</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">47</td>
    <td class="tg-yw4l">BOOKSHELF</td>
    <td class="tg-yw4l">Bookshelf</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">48</td>
    <td class="tg-yw4l">MOSSY_COBBLESTONE</td>
    <td class="tg-yw4l">Moss Cobblestone</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">49</td>
    <td class="tg-yw4l">OBSIDIAN</td>
    <td class="tg-yw4l">Obsidian</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">50</td>
    <td class="tg-yw4l">TORCH</td>
    <td class="tg-yw4l">Torch</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">52</td>
    <td class="tg-yw4l">MOB_SPAWNER</td>
    <td class="tg-yw4l">Monster Spawner</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">53</td>
    <td class="tg-yw4l">WOOD_STAIRS</td>
    <td class="tg-yw4l">Oak Wood Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">54</td>
    <td class="tg-yw4l">CHEST</td>
    <td class="tg-yw4l">Chest</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">56</td>
    <td class="tg-yw4l">DIAMOND_ORE</td>
    <td class="tg-yw4l">Diamond Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">57</td>
    <td class="tg-yw4l">DIAMOND_BLOCK</td>
    <td class="tg-yw4l">Diamond Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">58</td>
    <td class="tg-yw4l">WORKBENCH</td>
    <td class="tg-yw4l">Crafting Table</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">60</td>
    <td class="tg-yw4l">SOIL</td>
    <td class="tg-yw4l">Farmland</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">61</td>
    <td class="tg-yw4l">FURNACE</td>
    <td class="tg-yw4l">Furnace</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">65</td>
    <td class="tg-yw4l">LADDER</td>
    <td class="tg-yw4l">Ladder</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">66</td>
    <td class="tg-yw4l">RAILS</td>
    <td class="tg-yw4l">Rail</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">67</td>
    <td class="tg-yw4l">COBBLESTONE_STAIRS</td>
    <td class="tg-yw4l">Cobblestone Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">69</td>
    <td class="tg-yw4l">LEVER</td>
    <td class="tg-yw4l">Lever</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">70</td>
    <td class="tg-yw4l">STONE_PLATE</td>
    <td class="tg-yw4l">Stone Pressure Plate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">72</td>
    <td class="tg-yw4l">WOOD_PLATE</td>
    <td class="tg-yw4l">Wooden Pressure Plate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">73</td>
    <td class="tg-yw4l">REDSTONE_ORE</td>
    <td class="tg-yw4l">Redstone Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">76</td>
    <td class="tg-yw4l">REDSTONE_TORCH_ON</td>
    <td class="tg-yw4l">Redstone Torch</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">77</td>
    <td class="tg-yw4l">STONE_BUTTON</td>
    <td class="tg-yw4l">Stone Button</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">78</td>
    <td class="tg-yw4l">SNOW</td>
    <td class="tg-yw4l">Snow (layer)</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">79</td>
    <td class="tg-yw4l">ICE</td>
    <td class="tg-yw4l">Ice</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">80</td>
    <td class="tg-yw4l">SNOW_BLOCK</td>
    <td class="tg-yw4l">Snow Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">81</td>
    <td class="tg-yw4l">CACTUS</td>
    <td class="tg-yw4l">Cactus</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">82</td>
    <td class="tg-yw4l">CLAY</td>
    <td class="tg-yw4l">Clay</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">84</td>
    <td class="tg-yw4l">JUKEBOX</td>
    <td class="tg-yw4l">Jukebox</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">85</td>
    <td class="tg-yw4l">FENCE</td>
    <td class="tg-yw4l">Oak Fence</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">86</td>
    <td class="tg-yw4l">PUMPKIN</td>
    <td class="tg-yw4l">Pumpkin</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">87</td>
    <td class="tg-yw4l">NETHERRACK</td>
    <td class="tg-yw4l">Netherrack</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">88</td>
    <td class="tg-yw4l">SOUL_SAND</td>
    <td class="tg-yw4l">Soul Sand</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">89</td>
    <td class="tg-yw4l">GLOWSTONE</td>
    <td class="tg-yw4l">Glowstone</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">91</td>
    <td class="tg-yw4l">JACK_O_LANTERN</td>
    <td class="tg-yw4l">Jack o'Lantern</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">95</td>
    <td class="tg-yw4l">STAINED_GLASS</td>
    <td class="tg-yw4l">White Stained Glass</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">96</td>
    <td class="tg-yw4l">TRAP_DOOR</td>
    <td class="tg-yw4l">Wooden Trapdoor</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">97</td>
    <td class="tg-yw4l">MONSTER_EGGS</td>
    <td class="tg-yw4l">Stone Monster Egg</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">98</td>
    <td class="tg-yw4l">SMOOTH_BRICK</td>
    <td class="tg-yw4l">Stone Bricks</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">99</td>
    <td class="tg-yw4l">HUGE_MUSHROOM_1</td>
    <td class="tg-yw4l">Brown Mushroom Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">100</td>
    <td class="tg-yw4l">HUGE_MUSHROOM_2</td>
    <td class="tg-yw4l">Red Mushroom Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">101</td>
    <td class="tg-yw4l">IRON_FENCE</td>
    <td class="tg-yw4l">Iron Bars</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">102</td>
    <td class="tg-yw4l">THIN_GLASS</td>
    <td class="tg-yw4l">Glass Pane</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">103</td>
    <td class="tg-yw4l">MELON_BLOCK</td>
    <td class="tg-yw4l">Melon Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">106</td>
    <td class="tg-yw4l">VINE</td>
    <td class="tg-yw4l">Vines</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">107</td>
    <td class="tg-yw4l">FENCE_GATE</td>
    <td class="tg-yw4l">Oak Fence Gate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">108</td>
    <td class="tg-yw4l">BRICK_STAIRS</td>
    <td class="tg-yw4l">Brick Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">109</td>
    <td class="tg-yw4l">SMOOTH_STAIRS</td>
    <td class="tg-yw4l">Stone Brick Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">110</td>
    <td class="tg-yw4l">MYCEL</td>
    <td class="tg-yw4l">Mycelium</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">111</td>
    <td class="tg-yw4l">WATER_LILY</td>
    <td class="tg-yw4l">Lily Pad</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">112</td>
    <td class="tg-yw4l">NETHER_BRICK</td>
    <td class="tg-yw4l">Nether Brick</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">113</td>
    <td class="tg-yw4l">NETHER_FENCE</td>
    <td class="tg-yw4l">Nether Brick Fence</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">114</td>
    <td class="tg-yw4l">NETHER_BRICK_STAIRS</td>
    <td class="tg-yw4l">Nether Brick Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">116</td>
    <td class="tg-yw4l">ENCHANTMENT_TABLE</td>
    <td class="tg-yw4l">Enchantment Table</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">120</td>
    <td class="tg-yw4l">END_PORTAL_FRAME</td>
    <td class="tg-yw4l">End Portal Frame</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">121</td>
    <td class="tg-yw4l">ENDER_STONE</td>
    <td class="tg-yw4l">End Stone</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">122</td>
    <td class="tg-yw4l">DRAGON_EGG</td>
    <td class="tg-yw4l">Dragon Egg</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">123</td>
    <td class="tg-yw4l">REDSTONE_LAMP_OFF</td>
    <td class="tg-yw4l">Redstone Lamp</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">126</td>
    <td class="tg-yw4l">WOOD_STEP</td>
    <td class="tg-yw4l">Oak Wood Slab</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">128</td>
    <td class="tg-yw4l">SANDSTONE_STAIRS</td>
    <td class="tg-yw4l">Sandstone Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">129</td>
    <td class="tg-yw4l">EMERALD_ORE</td>
    <td class="tg-yw4l">Emerald Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">130</td>
    <td class="tg-yw4l">ENDER_CHEST</td>
    <td class="tg-yw4l">Ender Chest</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">131</td>
    <td class="tg-yw4l">TRIPWIRE_HOOK</td>
    <td class="tg-yw4l">Tripwire Hook</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">133</td>
    <td class="tg-yw4l">EMERALD_BLOCK</td>
    <td class="tg-yw4l">Emerald Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">134</td>
    <td class="tg-yw4l">SPRUCE_WOOD_STAIRS</td>
    <td class="tg-yw4l">Spruce Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">135</td>
    <td class="tg-yw4l">BIRCH_WOOD_STAIRS</td>
    <td class="tg-yw4l">Birch Wood Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">136</td>
    <td class="tg-yw4l">JUNGLE_WOOD_STAIRS</td>
    <td class="tg-yw4l">Jungle Wood Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">137</td>
    <td class="tg-yw4l">COMMAND</td>
    <td class="tg-yw4l">Command Block</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">138</td>
    <td class="tg-yw4l">BEACON</td>
    <td class="tg-yw4l">Beacon</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">139</td>
    <td class="tg-yw4l">COBBLE_WALL</td>
    <td class="tg-yw4l">Cobblestone Wall</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">143</td>
    <td class="tg-yw4l">WOOD_BUTTON</td>
    <td class="tg-yw4l">Wooden Button</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">145</td>
    <td class="tg-yw4l">ANVIL</td>
    <td class="tg-yw4l">Anvil</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">146</td>
    <td class="tg-yw4l">TRAPPED_CHEST</td>
    <td class="tg-yw4l">Trapped Chest</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">147</td>
    <td class="tg-yw4l">GOLD_PLATE</td>
    <td class="tg-yw4l">Weighted Pressure Plate (light)</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">148</td>
    <td class="tg-yw4l">IRON_PLATE</td>
    <td class="tg-yw4l">Weighted Pressure Plate (heavy)</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">151</td>
    <td class="tg-yw4l">DAYLIGHT_DETECTOR</td>
    <td class="tg-yw4l">Daylight Sensor</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">152</td>
    <td class="tg-yw4l">REDSTONE_BLOCK</td>
    <td class="tg-yw4l">Redstone Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">153</td>
    <td class="tg-yw4l">QUARTZ_ORE</td>
    <td class="tg-yw4l">Nether Quartz Ore</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">154</td>
    <td class="tg-yw4l">HOPPER</td>
    <td class="tg-yw4l">Hopper</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">155</td>
    <td class="tg-yw4l">QUARTZ_BLOCK</td>
    <td class="tg-yw4l">Quartz Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">156</td>
    <td class="tg-yw4l">QUARTZ_STAIRS</td>
    <td class="tg-yw4l">Quartz Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">157</td>
    <td class="tg-yw4l">ACTIVATOR_RAIL</td>
    <td class="tg-yw4l">Activator Rail</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">158</td>
    <td class="tg-yw4l">DROPPER</td>
    <td class="tg-yw4l">Dropper</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">159</td>
    <td class="tg-yw4l">STAINED_CLAY</td>
    <td class="tg-yw4l">White Hardened Clay</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">160</td>
    <td class="tg-yw4l">STAINED_GLASS_PANE</td>
    <td class="tg-yw4l">White Stained Glass</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">161</td>
    <td class="tg-yw4l">LEAVES_2</td>
    <td class="tg-yw4l">Acacia Leaves</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">162</td>
    <td class="tg-yw4l">LOG_2</td>
    <td class="tg-yw4l">Acacia Wood</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">163</td>
    <td class="tg-yw4l">ACACIA_STAIRS</td>
    <td class="tg-yw4l">Acacia Wood Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">164</td>
    <td class="tg-yw4l">DARK_OAK_STAIRS</td>
    <td class="tg-yw4l">Dark Oak Wood Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">165</td>
    <td class="tg-yw4l">SLIME_BLOCK</td>
    <td class="tg-yw4l">Slime Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">166</td>
    <td class="tg-yw4l">BARRIER</td>
    <td class="tg-yw4l">Barrier</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">167</td>
    <td class="tg-yw4l">IRON_TRAPDOOR</td>
    <td class="tg-yw4l">Iron Trapdoor</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">168</td>
    <td class="tg-yw4l">PRISMARINE</td>
    <td class="tg-yw4l">Prismarine</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">169</td>
    <td class="tg-yw4l">SEA_LANTERN</td>
    <td class="tg-yw4l">Sea Lantern</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">170</td>
    <td class="tg-yw4l">HAY_BLOCK</td>
    <td class="tg-yw4l">Hay Bale</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">171</td>
    <td class="tg-yw4l">CARPET</td>
    <td class="tg-yw4l">White Carpet</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">172</td>
    <td class="tg-yw4l">HARD_CLAY</td>
    <td class="tg-yw4l">Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">173</td>
    <td class="tg-yw4l">COAL_BLOCK</td>
    <td class="tg-yw4l">Block of Coal</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">174</td>
    <td class="tg-yw4l">PACKED_ICE</td>
    <td class="tg-yw4l">Packed Ice</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">175</td>
    <td class="tg-yw4l">DOUBLE_PLANT</td>
    <td class="tg-yw4l">Sunflower</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">179</td>
    <td class="tg-yw4l">RED_SANDSTONE</td>
    <td class="tg-yw4l">Red Sandstone</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">180</td>
    <td class="tg-yw4l">RED_SANDSTONE_STAIRS</td>
    <td class="tg-yw4l">Red Sandstone Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">182</td>
    <td class="tg-yw4l">STONE_SLAB2</td>
    <td class="tg-yw4l">Red Sandstone Slab</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">183</td>
    <td class="tg-yw4l">SPRUCE_FENCE_GATE</td>
    <td class="tg-yw4l">Spruce Fence Gate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">184</td>
    <td class="tg-yw4l">BIRCH_FENCE_GATE</td>
    <td class="tg-yw4l">Birch Fence Gate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">185</td>
    <td class="tg-yw4l">JUNGLE_FENCE_GATE</td>
    <td class="tg-yw4l">Jungle Fence Gate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">186</td>
    <td class="tg-yw4l">DARK_OAK_FENCE_GATE</td>
    <td class="tg-yw4l">Dark Oak Fence Gate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">187</td>
    <td class="tg-yw4l">ACACIA_FENCE_GATE</td>
    <td class="tg-yw4l">Acacia Fence Gate</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">188</td>
    <td class="tg-yw4l">SPRUCE_FENCE</td>
    <td class="tg-yw4l">Spruce Fence</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">189</td>
    <td class="tg-yw4l">BIRCH_FENCE</td>
    <td class="tg-yw4l">Birch Fence</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">190</td>
    <td class="tg-yw4l">JUNGLE_FENCE</td>
    <td class="tg-yw4l">Jungle Fence</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">191</td>
    <td class="tg-yw4l">DARK_OAK_FENCE</td>
    <td class="tg-yw4l">Dark Oak Fence</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">192</td>
    <td class="tg-yw4l">ACACIA_FENCE</td>
    <td class="tg-yw4l">Acacia Fence</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">198</td>
    <td class="tg-yw4l">END_ROD</td>
    <td class="tg-yw4l">End Rod</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">199</td>
    <td class="tg-yw4l">CHORUS_PLANT</td>
    <td class="tg-yw4l">Chorus Plant</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">200</td>
    <td class="tg-yw4l">CHORUS_FLOWER</td>
    <td class="tg-yw4l">Chorus Flower</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">201</td>
    <td class="tg-yw4l">PURPUR_BLOCK</td>
    <td class="tg-yw4l">Purpur Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">202</td>
    <td class="tg-yw4l">PURPUR_PILLAR</td>
    <td class="tg-yw4l">Purpur Pillar</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">203</td>
    <td class="tg-yw4l">PURPUR_STAIRS</td>
    <td class="tg-yw4l">Purpur Stairs</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">205</td>
    <td class="tg-yw4l">PURPUR_SLAB</td>
    <td class="tg-yw4l">Purpur Slab</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">206</td>
    <td class="tg-yw4l">END_BRICKS</td>
    <td class="tg-yw4l">End Stone Bricks</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">208</td>
    <td class="tg-yw4l">GRASS_PATH</td>
    <td class="tg-yw4l">Grass Path</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">210</td>
    <td class="tg-yw4l">COMMAND_REPEATING</td>
    <td class="tg-yw4l">Repeating Command Block</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">211</td>
    <td class="tg-yw4l">COMMAND_CHAIN</td>
    <td class="tg-yw4l">Chain Command Block</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">213</td>
    <td class="tg-yw4l">MAGMA</td>
    <td class="tg-yw4l">Magma Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">214</td>
    <td class="tg-yw4l">NETHER_WART_BLOCK</td>
    <td class="tg-yw4l">Nether Wart Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">215</td>
    <td class="tg-yw4l">RED_NETHER_BRICK</td>
    <td class="tg-yw4l">Red Nether Brick</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">216</td>
    <td class="tg-yw4l">BONE_BLOCK</td>
    <td class="tg-yw4l">Bone Block</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">217</td>
    <td class="tg-yw4l">STRUCTURE_VOID</td>
    <td class="tg-yw4l">Structure Void</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
  <tr>
    <td class="tg-yw4l">218</td>
    <td class="tg-yw4l">OBSERVER</td>
    <td class="tg-yw4l">Observer</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">219</td>
    <td class="tg-yw4l">WHITE_SHULKER_BOX</td>
    <td class="tg-yw4l">White Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">220</td>
    <td class="tg-yw4l">ORANGE_SHULKER_BOX</td>
    <td class="tg-yw4l">Orange Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">221</td>
    <td class="tg-yw4l">MAGENTA_SHULKER_BOX</td>
    <td class="tg-yw4l">Magenta Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">222</td>
    <td class="tg-yw4l">LIGHT_BLUE_SHULKER_BOX</td>
    <td class="tg-yw4l">Light Blue Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">223</td>
    <td class="tg-yw4l">YELLOW_SHULKER_BOX</td>
    <td class="tg-yw4l">Yellow Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">224</td>
    <td class="tg-yw4l">LIME_SHULKER_BOX</td>
    <td class="tg-yw4l">Lime Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">225</td>
    <td class="tg-yw4l">PINK_SHULKER_BOX</td>
    <td class="tg-yw4l">Pink Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">226</td>
    <td class="tg-yw4l">GRAY_SHULKER_BOX</td>
    <td class="tg-yw4l">Gray Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">227</td>
    <td class="tg-yw4l">SILVER_SHULKER_BOX</td>
    <td class="tg-yw4l">Light Gray Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">228</td>
    <td class="tg-yw4l">CYAN_SHULKER_BOX</td>
    <td class="tg-yw4l">Cyan Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">229</td>
    <td class="tg-yw4l">PURPLE_SHULKER_BOX</td>
    <td class="tg-yw4l">Purple Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">230</td>
    <td class="tg-yw4l">BLUE_SHULKER_BOX</td>
    <td class="tg-yw4l">Blue Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">231</td>
    <td class="tg-yw4l">BROWN_SHULKER_BOX</td>
    <td class="tg-yw4l">Brown Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">232</td>
    <td class="tg-yw4l">GREEN_SHULKER_BOX</td>
    <td class="tg-yw4l">Green Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">233</td>
    <td class="tg-yw4l">RED_SHULKER_BOX</td>
    <td class="tg-yw4l">Red Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">234</td>
    <td class="tg-yw4l">BLACK_SHULKER_BOX</td>
    <td class="tg-yw4l">Black Shulker Box</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">235</td>
    <td class="tg-yw4l">WHITE_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">White Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">236</td>
    <td class="tg-yw4l">ORANGE_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Orange Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">237</td>
    <td class="tg-yw4l">MAGENTA_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Magenta Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">238</td>
    <td class="tg-yw4l">LIGHT_BLUE_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Light Blue Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">239</td>
    <td class="tg-yw4l">YELLOW_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Yellow Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">240</td>
    <td class="tg-yw4l">LIME_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Lime Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">241</td>
    <td class="tg-yw4l">PINK_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Pink Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">242</td>
    <td class="tg-yw4l">GRAY_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Gray Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">243</td>
    <td class="tg-yw4l">SILVER_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Light Gray Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">244</td>
    <td class="tg-yw4l">CYAN_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Cyan Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">245</td>
    <td class="tg-yw4l">PURPLE_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Purple Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">246</td>
    <td class="tg-yw4l">BLUE_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Blue Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">247</td>
    <td class="tg-yw4l">BROWN_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Brown Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">248</td>
    <td class="tg-yw4l">GREEN_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Green Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">249</td>
    <td class="tg-yw4l">RED_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Red Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">250</td>
    <td class="tg-yw4l">BLACK_GLAZED_TERRACOTTA</td>
    <td class="tg-yw4l">Black Glazed Terracotta</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">251</td>
    <td class="tg-yw4l">CONCRETE</td>
    <td class="tg-yw4l">White Concrete</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">252</td>
    <td class="tg-yw4l">CONCRETE_POWDER</td>
    <td class="tg-yw4l">White Concrete Powder</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">255</td>
    <td class="tg-yw4l">STRUCTURE_BLOCK</td>
    <td class="tg-yw4l">Structure Block</td>
    <td class="tg-yw4l">unobtainable</td>
  </tr>
</table>